*{
    margin:0px;
    padding:0px;
}
body,html{
    width:100%;
    height:100%;
    background:blue;
}
h2{
    font-weight:normal;
    margin:0 auto;
    font-size:30px;
    width:200px;
    height:24px;
    color:yellow;
}
select{
    position: absolute;
    right:10px;
    top:10px;
}